.card {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 0 0 25px;
    /* padding:上 右 下 左; */
    margin: 0 0 10px 0;
    flex: content;
}

.card:hover {
    /* 當滑鼠經過時，卡片顏色變成粉綠色 */
    background-color: #9aeccd;
    /*之前的顏色 #b3ffe2*/
}

.card a {
    text-decoration: none;
}

.card p {
    font-weight: 500;
    margin: 0;
    font-family: Microsoft JhengHei;
}

.busLink {
    padding: 0;
}

.bus-way {
    color: #777;
    font-size: 24px;
    padding: 0 0 5px 0;
    text-align: center;
}

.bus-num {
    color: #444;
    font-size: 34px;
    text-align: center;
}

.fa-bus {
    font-size: 38px;
    color: #ff000073;
    cursor: pointer;
    margin-top: 15px;
}

.btndiv {
    display: block;
    text-align: center;
    margin-top: 0;
    align-items: center;
    padding: 0;
}

.btn {
    background-color: rgb(36, 187, 207);
    color: #fff;
    font-size: 18px;    
    /* margin:上 右 下 左; */
    padding: 5px 20px;
    /* padding:上下 左右  ; */
    font-family: Microsoft JhengHei;
}
ul{
    padding: 0%
}