<div class="row">
  <div class="col-10">
    <input [(ngModel)]="searchlist" type="text" placeholder="請輸入欲查詢之公車路線。例如:151"
      class="text-search findroute-search-text" name="search" autocomplete="off" />
  </div>

  <div class="col-2 form-group d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block" (click)="onSearch()">尋找</button>
  </div>
</div>

<!-- <select id="TDDSelect" [ngModel]="selectedId" (ngModelChange)="selectedId = $event">
  <option *ngFor="let cloud of clouds" [value]="cloud.id">{{ cloud.name }}</option>
</select>
<p>{{ selectedId }}</p> -->


<!-- <select id="TDDSelect" [(ngModel)]="selectedId">
  <option *ngFor="let cloud of clouds" [value]="cloud.id">{{ cloud.name }}</option>
</select>
<p>{{ selectedId }}</p> -->

<!-- 
   ngModel 內部運行機制:
1.在 HTML 修改觸發 DOM 的 change event
2.change event 觸發了 Angular 的 ngModelChange event
3.將 $event 傳給 selectedId field
4.ControlValueAccessor 將 $event.target.value 指定給 selectedId field
5.selectedId field 被修改，引發 interpolation binding 自動更新 HTML 
-->