h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Microsoft JhengHei;
}

h2 {
    text-align: center;
    color: #444;
    font-weight: 900;
    padding-bottom: 20px
}

h2 {
    font-size: 28px;
    margin: 0;
}

.text-search {
    width: 100%;
    height: 50px;
    border: none;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;    
    padding-left: 10px;
}

.text-search:hover {
    /* 當滑鼠經過時，卡片顏色變成粉綠色 */
    background-color: #9aeccd;
    /*之前的顏色 #b3ffe2*/
}

.text-search:focus {
    -webkit-box-shadow: 2px 2px 5px #5e5e66;
    box-shadow: 2px 2px 5px #5e5e66;
}

.findroute-search-text {
    /*搜尋輸入的文字 */
    color: rgb(182, 138, 72);
}

.btn {
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 200px;
    font-size: 18px;
    font-family: Microsoft JhengHei;
}