<div class="container-fluid">
    <div class="row cards d-flex align-items-center justify-content-around" style="height:750px">
        <div class="card col-3" [routerLink]="['/BusRouteSearch']"><!-- 加上中括號的話代表綁定的是一個變數，如果沒有加的話代表綁定的是字串! -->
            <i class="fa fa-road" title="路線搜尋">路線搜尋</i>
        </div>
        <div class="card col-3" [routerLink]="['/StopSearch']">
            <i class="fa fa-road" title="站牌查詢">站牌查詢</i>
        </div>
    </div>

</div>

<!-- <div class="cards d-flex align-items-center justify-content-center bd-highlight mb-3" style="height:100px">
    <div class="card p-2 bd-highlight">Flex item</div>
    <div class="card p-2 bd-highlight">Flex item</div>
    <div class="card p-2 bd-highlight">Flex item</div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col card">
            1 of 2
        </div>
        <div class="col card">
            2 of 2
        </div>
    </div>
    <div class="col">
        <div class="row card">
            1 of 3
        </div>
        <div class="row card">
            2 of 3
        </div>
        <div class="row card">
            3 of 3
        </div>
    </div>
</div> -->